<div class="users-container">
<h1>Teams</h1>

<% @teams.each do |team| %>

  <%# <%= link_to member.team.name, weekly_question_path(id: member.team.weekly_questions.first.id, team_id: member.team.id), class: "text" %>

<!--<ol class="alternating-colors">
-->
<div class= "team-item">
<% if team.team_image.key.present? %>
  <%= cl_image_tag team.team_image.key, class: "team-image" %>
  <% else %>
    <%= image_tag "no_profile.jpg", class: "team-image" %>
  <% end %>
<strong><%= link_to team.name, team_path(team), class: "no-underline" %></strong>
</div>

<% end %>
