<div class="users-container">
<h1>Teams</h1>

<% @teams.each do |team| %>

  <%# <%= link_to member.team.name, weekly_question_path(id: member.team.weekly_questions.first.id, team_id: member.team.id), class: "text" %>

<ol class="alternating-colors">
  <li>
    <strong><%= link_to team.name, team_path(team) %></strong>
  </li>
</ol>

<% end %>


 
