<div class="create-container">
  <p class="create-title">Create a New Team</p>
  <div class="users-card">
    <%= simple_form_for( @team) do |f| %>
      <div class="field">
        <%= f.input :name, label: false, placeholder: "Team Name", class: "form-control" %>
      </div>

      <div class="create-text">
        <p>Add Members</p>
      </div>

      <div data-controller="user-search">
        <%= f.text_field :query,
                         class: "form-control",
                         placeholder: "Search for users",
                         value: params[:query],
                         data: { user_search_target: "input", action: "input->user-search#perform" } %>
        <div class="create-text">
          <p>Results:</p>
        </div>
        <div data-user-search-target="results"></div>
        <div class="create-text">
          <p>Selected Members:</p>
        </div>
        <div data-user-search-target="selectedMembers"></div>
      </div>
      <div class="actions">
        <%= f.submit "Create", class: "button-54" %>
      </div>
    <% end %>
  </div>
</div>
