<body>
  <div class="main-container1">
    <% @team.members.each do |member| %>
      <div class="member-card">
        <a href="/profile/<%= member.id %>">
        <% if member.user.profile_image.key.present? %>
        <%= cl_image_tag member.user.profile_image.key %>
        <% end %>
        </a>
        <p><%= member.user.username %></p>
      </div>
    <% end %>
  </div>

  <div class="play-button-container">
    <!--<a class="play-btn" href="play(@team)"></a>-->
    <%= link_to '', play_team_path(@team), class: "play-btn" %>
  </div>
</body>
