<h1>InitialQuestions#index</h1>
<p>Find me in app/views/initial_questions/index.html.erb</p>
<div data-controller="display-initial-answers">
<% @initial_questions.each do |question| %>
  <div class="question">
    <%= link_to question.content,  initial_question_path(question) %>
    <!-- You can add more HTML elements or logic here related to each question -->
  </div>
<% end %>
</div>
