<h1>InitialQuestions#index</h1>
<p>Find me in app/views/initial_questions/index.html.erb</p>
<% @questions.each_with_index do |question, index| %>
  <div class="question">
    <h3>Question <%= index + 1 %>:</h3>
    <p><%= question.content %></p>
    <!-- You can add more HTML elements or logic here related to each question -->
  </div>
<% end %>
