
  <div class="users-card">
    <h1 class="intro-title">Before you start</h1>
      <p class="intro-text">Please answer a couple questions about yourself that will be used to play a fun game with your team!</p>
      <div class="intro-btn">
        <%= link_to "Start", initial_question_path(1), class: "btn btn-primary" %>

  </div>
</div>
