<h1>Conversations</h1>

<div class="conversation-list">
  <h3>All Members in Your Groups</h3>
  <ul>
    <% @members.each do |member| %>
      <li>
        <span><%= member.username %></span>
        <% conversation = @conversations.find_by(sender_id: current_user.id, receiver_id: member.id) %>
        <% if conversation %>
          <%= link_to "Message", team_conversation_path(@team, conversation), method: :post %>
        <% else %>
          <%= link_to "Message", team_conversations_path(@team, sender_id: current_user.id, receiver_id: member.id), method: :post %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
