<h1>Questions for <%= @team.name %></h1>

<ul>
  <% @weekly_questions.each do |question| %>
    <li>
      <%= link_to question.content, team_weekly_question_path(@team, question) %>
    </li>
  <% end %>
</ul>
