
<div class="footer">
  <%= link_to root_path do %>
  <i class="fa-solid fa-house-chimney" style="color: #FFD43B;"></i>
<% end %>
    <%= link_to teams_path do %>
  <i class="fa-sharp fa-solid fa-people-group" style="color: #FFD43B;"></i>
<% end %>
    <%= link_to root_path do %>
  <i class="fa-solid fa-user" style="color: #FFD43B;"></i>
<% end %>
</div>
