
<div class="footer">
  <%= link_to root_path do %>
  <i class="fa-solid fa-house-chimney" style="color: #FFD43B;"></i>
<% end %>
    <%= link_to new_team_path do %>
  <i class="fa-solid fa-user-plus" style="color: #FFD43B;"></i>
<% end %>
    <%= link_to root_path do %>
  <i class="fa-solid fa-user" style="color: #FFD43B;"></i>
<% end %>
</div>

