
<div class="footer">
    <a href="#" class="icon"><img src="" alt="Home"></a>
    <a href="#" class="icon"><img src="teams_icon.png" alt="Teams"></a>
    <a href="#" class="icon"><img src="profile_icon.png" alt="Profile"></a>
</div>
