
<div class="footer">
  <%= link_to root_path do %>
  <i class="fa-solid fa-house-chimney" style="color: #FFD43B;"></i>
<% end %>
    <%= link_to new_team_path do %>
  <i class="fa-solid fa-user-plus" style="color: #FFD43B;"></i>
<% end %>
    <%= link_to root_path do %>
  <i class="fa-solid fa-user" style="color: #FFD43B;"></i>
<% end %>
<% if user_signed_in? && current_user.members.present? %>
  <% first_member = current_user.members.first %>
  <% if first_member && first_member.team %>
    <% team_id = first_member.team_id %>
    <% first_chatroom = first_member.team.chatrooms.first %>
    <% if first_chatroom %>
      <% chatroom_id = first_chatroom.id %>
      <%= link_to team_chatroom_path(team_id, chatroom_id) do %>
        <i class="fa-solid fa-user" style="color: #FFD43B;"></i>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>
