<body>
  <nav>
    <div class="logo">inBreaker</div>
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle">
      <span></span>
    </label>
    <ul>
      <li><a href="#">leaderboard</a></li>
      <li><a href="#">inbox</a></li>
      <li><a href="#">about us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</body>
