<body>
    <nav>
        <div class="logo">inBreaker</div>
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <ul>
            <li><a href="#">Leaderboard</a></li>
            <li><a href="#">Inbox</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</body>
</html>
