<div class="users-container with-background">
 <%= image_tag "cover.png", class: "profile-image" %>
  <h1>Welcome to inBreaker</h1>
  <%= link_to "Create team", new_team_path, class: "button-54"  %>
  <%= link_to "My teams", teams_path, class: "button-54" %>
</div>


