<body>
  <div class="main-container1">
    <% @users.each do |user| %>
      <div class="member-card">
        <a href="/profile/<%= user.id %>">
        <% if user.profile_image.key.present? %>
        <%= cl_image_tag user.profile_image.key %>
        <% end %>
        </a>
        <p><%= user.username %></p>
      </div>
    <% end %>
  </div>

  <div class="play-button-container">
    <%= link_to '', teams_path, class: "play-btn" %>
  </div>
</body>
