.create-container {
  width: 449px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #DEE2E6;
  font-family: 'Space Mono', monospace;
}

.create-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

.users-card {
  background: #00000024;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100vh;
  text-align: center;
  display: contents;
  justify-content: center;
}

.create-text {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'Space Mono', monospace;
}

.field {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
}





.actions {
  text-align: center;
}
