/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
}

/* Navbar styles */
nav {
  background-color: #343A40;
  color: #DEE2E6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
  width: 100vw;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0,1rem;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 25px;
  position: relative;
}

.menu-icon span {
  display: block;
  background-color: #DEE2E6;
  height: 3px;
  width: 100%;
  border-radius: 3px;
  position: absolute;
  transition: all 0.3s ease;
}

.menu-icon span:nth-child(1) {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu-icon span:nth-child(3) {
  bottom: 0;
}

.menu-toggle:checked + .menu-icon span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.menu-toggle:checked + .menu-icon span:nth-child(2) {
  opacity: 0;
}

.menu-toggle:checked + .menu-icon span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #DEE2E6;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

nav li {
  padding: 15px 20px;
  border-bottom: 1px solid #343A40;
}

nav li a {
  color: #343A40;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-toggle:checked ~ ul {
  max-height: 400px;
}

@media (min-width: 768px) {
  .menu-toggle + .menu-icon {
      display: none;
  }

  nav ul {
      display: flex;
      position: static;
      background-color: transparent;
      max-height: none;
      height: auto;
  }

  nav li {
      border-bottom: none;
      padding: 0;
      margin-left: 20px;
  }

  nav li a {
      font-size: 1rem;
      padding: 10px 0;
  }
}
