

.main-container {
  text-align: center;
  justify-content: center;
  font-family: 'Space Mono', monospace;
}

.home-container {
  text-align: center;
  justify-content: center;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;

}


h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #000000;
  font-family: 'Space Mono', monospace;

}

.question {
  background-color:  #DEE2E6;
  border-radius: 10px;
  padding: 20px;
  height: 100vh;
  justify-content: center;
  font-family: 'popins', sans-serif;
}

.question p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-family: 'popins', sans-serif;

}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control:focus {
  outline: none;
  border-color: #6c5ce7;
  box-shadow: 0 0 5px rgba(108, 92, 231, 0.5);
}

.submit-btn {
  background-color: #6c5ce7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  font-family: 'popins', sans-serif;
}

.submit-btn:hover {
  background-color: #341f97;
}

.submit-btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(108, 92, 231, 0.5);
}

.submit-btn:active {
  background-color: #4c3b8b;
}
