
  .users-container {
    width: 449px; /* Adjust as necessary */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Optional: Add padding around the container */
    text-align: center; /* Center align text in the container */
    color: #343A40;
    font-family: 'Space Mono', monospace;
    background-color: #DEE2E6;
    height: 100vh;
  }

  h1 p {
   color: #000000;
   font-family: 'Space Mono', monospace;
  }



.user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}
.user-image:hover {
  transform: scale(1.05);
  border: 2px solid #343A40;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


  .user-card {
    background-color: #DEE2E6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 120vh;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    display: contents;
    width: 449px;
    margin: 0 auto;
    color: #000000;
    font-family: 'Space Mono', monospace;
  }


.home-container h1 {
  font-size: 24px;
  color: #343A40;
  margin-bottom: 20px;
  text-transform: uppercase;
  justify-content: bottom;

}

.home-container ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.home-container ol li {
  background-color: #DEE2E6;
  margin: 10px ;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: #00B4D8;
  font-family: 'Space Mono', monospace;
}

.home-container ol li:nth-child(1) {
  background-color: #ffd700;
}

.home-container ol li:nth-child(2) {
  background-color: #c0c0c0;
}

.home-container ol li:nth-child(3) {
  background-color: #cd7f32;
}

.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Space Mono', monospace;
}

.text {
  font-size: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  list-style-type: circle;
  color: #000000;
  font-family: 'Space Mono', monospace;
}




.play-btn {
  color: blue;
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  position: relative;
  display: block;
  box-shadow: 0px 0px 25px 3px rgba(4, 0, 255, 0.8);
  margin: 60px;

}


.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


.play-btn::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .75);
  top: -25%;
  left: -25%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}





.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono', monospace;
}



.main-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #DEE2E6;
  padding: 20px;
  font-family: 'Space Mono', monospace;
  width: 449px;
}

.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 250px;
  background-color: #343A40;
  border-radius: 8px;
  margin-bottom: 20px;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  font-family: 'Space Mono', monospace;
}

.member-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.member-card p {
  text-align: center;
  margin: 0;
  color: #DEE2E6;
}


.member-card:hover {
  transform: scale(1.05);
  border: 2px solid #343A40;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.member-card:hover img {
  transform: scale(1.1);
}


.play-button-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

// .play-btn {
//   width: 60px;
//   height: 60px;
//   background-color: ;
//   border-radius: 50%;
//   font-size: 30px;
//   color: #fff;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   cursor: pointer;




/* CSS */
.button-54 {
  background-color: #4361EE;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  font-family: 'poppins', sans-serif;
}

.button-54:not(:disabled):hover,
.button-54:not(:disabled):focus {
  outline: 0;
  background: #000000;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-54:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.initial-questions-card {
  background-color: #DEE2E6;
  width: 449px;
  height: 100vh;
  padding: 20px;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.center-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
