@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Space Mono', monospace;
  border: 1px solid #eee;
  box-shadow: 0px 12px 24px rgba(234, 215, 7, 0.06);
}

* { // make it sexy
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  letter-spacing: -0.25px;
}

.no-underline {
  text-decoration: none;
}

.users-container team-image {
  width: 100px;
  height: 250px;
}
