@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Space Mono', monospace;
  border: 1px solid #eee;
  box-shadow: 0px 12px 24px rgba(234, 215, 7, 0.06);
}

* { // make it sexy
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  letter-spacing: -0.25px;
}

.no-underline {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

img.team-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px 0px 0px 8px;

}

.team-index-card {
  background: #00000024;
  height: 80px;
  width: 300px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100vh;
  text-align: center;
  display: contents;
  justify-content: center;
}

.team-item {
  margin-bottom: 20px;
  background-color: #00000024;
  height: 80px;
  width: 300px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100vh;
  text-align: center;
  display: contents;
  justify-content: center;
}
.test-container {
  height:100px;
  background-color: white;
  margin: 8px 0px;
  border-radius: 8px;
  display: flex;
  // justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(131.83deg, #FFFAFA 0%,     #FFF7F7 99.21%);
  position: relative;
  .team-image {
    width: 100px;
    height: 100%;

  }

  .team-title {
    background-color: white;
    .a {

      font-size: 16px;
    }
    margin-left: 16px;
    text-align: left;
    padding: 15px
  }
}
